@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
.noticias article div:first-child .noticias__contenedor, .galeria div .galeria__box {
  border-left: 0.1em transparent #ebebeb !important;
  border-top: 0.1em solid #ebebeb !important;
  border-bottom: 0.1em transparent #ebebeb !important;
  border-right: 0.1em solid #ebebeb !important; }

.noticias article div:last-child .brazo__caja a:hover span:first-child, .noticias article div:last-child .brazo__caja--modifier a:hover span:first-child, .nav-link:hover span:first-child, .home .home__info p a:hover span:first-child, .noticias article div:first-child .noticias__verMas a:hover span:first-child, .galeria p a:hover span:first-child, .footer .footer__links nav a a:hover span:first-child, .footer .footer__links--modifier nav a a:hover span:first-child {
  display: inline;
  cursor: pointer;
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 65%);
  transform: translate(-0.0825em, -0.0015em);
  opacity: 0.8;
  text-decoration: line-through 0.01em; }

.noticias article div:last-child .brazo__caja a:hover span:last-child, .noticias article div:last-child .brazo__caja--modifier a:hover span:last-child, .nav-link:hover span:last-child, .home .home__info p a:hover span:last-child, .noticias article div:first-child .noticias__verMas a:hover span:last-child, .galeria p a:hover span:last-child, .footer .footer__links nav a a:hover span:last-child, .footer .footer__links--modifier nav a a:hover span:last-child {
  display: inline;
  cursor: pointer;
  animation: glitch 375ms infinite;
  clip-path: polygon(0% 70%, 100% 46%, 80% 100%, 50% 100%);
  transform: translate(0.045em, 0.0685em);
  opacity: 0.8; }

.noticias article div:last-child .brazo__caja a:hover, .noticias article div:last-child .brazo__caja--modifier a:hover, .nav-item .nav-linkhover, body .header nav .header__menu li ul li a:hover, .home .home__info p a:hover, .noticias article div:first-child .noticias__verMas a:hover, .galeria p a:hover, .footer .footer__links nav a:hover, .footer .footer__links--modifier nav a:hover {
  color: #ebebeb !important;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.749), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite; }

.noticias article div:last-child .brazo__caja, .noticias article div:last-child .brazo__caja--modifier {
  border: 0.1em transparent #ebebeb !important;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  border-top: 0.1em solid #ebebeb !important; }
  .noticias article div:last-child .brazo__caja p, .noticias article div:last-child .brazo__caja--modifier p {
    margin-bottom: 0.5vw; }
  .noticias article div:last-child .brazo__caja h5, .noticias article div:last-child .brazo__caja--modifier h5 {
    margin-top: 10em; }
  .noticias article div:last-child .brazo__caja a, .noticias article div:last-child .brazo__caja--modifier a {
    font-size: 1rem;
    position: relative;
    color: #00fc54;
    text-decoration: none; }
    .noticias article div:last-child .brazo__caja a span, .noticias article div:last-child .brazo__caja--modifier a span {
      color: #ebebeb;
      position: absolute;
      top: 0.0300em;
      left: -0.0400em; }

.spanOculto {
  display: none; }

.nav-item {
  font-size: 1rem;
  position: relative; }
  .nav-item .nav-link {
    color: #ebebeb;
    text-transform: uppercase; }
    .nav-item .nav-link:active {
      color: none !important; }
    .nav-item .nav-link:visited {
      color: none !important; }
  .nav-item span {
    color: #ebebeb;
    position: absolute;
    top: 0.5100em;
    left: 0.4900em; }

@keyframes glitch {
  0% {
    text-shadow: 0.07em 0 0 rgba(255, 0, 0, 0.75), -0.07em -0.025em 0 rgba(0, 255, 0, 0.749), -0.025em 0.09em 0 rgba(0, 0, 255, 0.75); }
  14% {
    text-shadow: 0.07em 0 0 rgba(255, 0, 0, 0.75), -0.07em -0.025em 0 rgba(0, 255, 0, 0.749), -0.025em 0.09em 0 rgba(0, 0, 255, 0.75); }
  15% {
    text-shadow: -0.07em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.749), -0.07em -0.09em 0 rgba(0, 0, 255, 0.75); }
  49% {
    text-shadow: -0.07em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.749), -0.07em -0.09em 0 rgba(0, 0, 255, 0.75); }
  50% {
    text-shadow: 0.025em 0.07em 0 rgba(255, 0, 0, 0.75), 0.2em 0 0 rgba(0, 255, 0, 0.749), 0 -0.09em 0 rgba(0, 0, 255, 0.75); }
  99% {
    text-shadow: 0.025em 0.07em 0 rgba(255, 0, 0, 0.75), 0.02em 0 0 rgba(0, 255, 0, 0.749), 0 -0.09em 0 rgba(0, 0, 255, 0.75); }
  100% {
    text-shadow: -0.095em 0 0 rgba(255, 0, 0, 0.75), -0.095em -0.065em 0 rgba(0, 255, 0, 0.749), -0.096em -0.09em 0 rgba(0, 0, 255, 0.75); } }

body {
  background-color: #111111;
  font-family: 'Zen Kaku Gothic Antique', sans-serif; }
  body .header {
    position: fixed;
    z-index: 2;
    margin-top: -10vw;
    background-color: #111111;
    width: 100% !important;
    max-width: none; }
    body .header nav img {
      width: 15%; }
    body .header nav .header__menu li {
      margin: 0 1.1vw; }
      body .header nav .header__menu li ul {
        background-color: #111111;
        border: none; }
        body .header nav .header__menu li ul li a {
          color: #ebebeb !important; }
          body .header nav .header__menu li ul li a:hover {
            background-color: #111111; }
    body .header nav .header__boton:active {
      border: 2px solid #00fc54; }

.home {
  border-left: 0.1em solid #ebebeb !important;
  border-top: 0.1em solid #ebebeb !important;
  border-bottom: 0.1em transparent #ebebeb !important;
  border-right: 0.1em transparent #ebebeb !important;
  padding: 2vw;
  margin-top: 10vw; }
  .home .carousel .carousel-indicators {
    z-index: 1 !important; }
  .home .carousel .home__carousel div div:first-child .carousel-indicators {
    z-index: 0 !important; }
  .home .carousel .home__carousel div div:last-child {
    background-color: rgba(0, 0, 0, 0.542); }
  .home .carousel .home__carousel .carousel-control-prev {
    z-index: 0; }
  .home .home__info h1 {
    margin: 0;
    margin-top: 1vw;
    margin-left: 0.5vw; }
  .home .home__info p {
    margin: 0;
    margin-top: 0.5vw; }
    .home .home__info p a {
      font-size: 1rem;
      position: relative;
      color: #00fc54; }
      .home .home__info p a span {
        color: #ebebeb;
        position: absolute;
        top: 0.0800em;
        left: 0.0800em; }

.noticias {
  margin-top: 2vw; }
  .noticias article div:first-child .noticias__contenedor {
    max-width: 800px !important;
    background-color: transparent !important;
    border-radius: 0vw; }
    .noticias article div:first-child .noticias__contenedor .noticias__imagen {
      margin: 0.5vw 0; }
    .noticias article div:first-child .noticias__contenedor .noticias__info {
      cursor: pointer;
      transition: a 1.5s;
      margin: 0vw;
      color: #ebebeb;
      display: flex;
      align-items: center; }
      .noticias article div:first-child .noticias__contenedor .noticias__info p a {
        color: #ebebeb;
        transition: 1s; }
      .noticias article div:first-child .noticias__contenedor .noticias__info:hover a {
        color: #00fc54; }
      .noticias article div:first-child .noticias__contenedor .noticias__info div {
        padding: 1vw; }
        .noticias article div:first-child .noticias__contenedor .noticias__info div h5 {
          margin: 1vw 0;
          font-size: 0.5em;
          margin-left: 1vw;
          font-style: italic; }
  .noticias article div:first-child .noticias__verMas {
    margin-right: 2vw; }
    .noticias article div:first-child .noticias__verMas a {
      font-size: 1rem;
      position: relative;
      color: #00fc54; }
      .noticias article div:first-child .noticias__verMas a span {
        color: #ebebeb;
        position: absolute;
        top: 0.0300em;
        left: -0.0400em; }
  .noticias article div:last-child table {
    border-left: 0.1em solid #ebebeb !important;
    border-top: 0.1em transparent #ebebeb !important;
    border-bottom: 0.1em solid #ebebeb !important;
    border-right: 0.1em solid #ebebeb !important;
    border-radius: 0vw;
    text-align: center;
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0px 20px;
    margin-bottom: 3em; }
    .noticias article div:last-child table thead tr th {
      font-weight: lighter;
      font-size: smaller;
      font-style: italic;
      width: 2%; }
    .noticias article div:last-child table thead tr th:nth-child(3) {
      width: 5%;
      text-align: left; }
    .noticias article div:last-child table tbody tr td:nth-child(1) {
      font-size: smaller; }
    .noticias article div:last-child table tbody tr td:nth-child(3) {
      text-align: left; }
    .noticias article div:last-child table tbody tr td:nth-child(4) {
      font-size: smaller; }
    .noticias article div:last-child table tbody tr td:nth-child(5) {
      font-size: smaller; }
  .noticias article div:last-child .brazo__caja {
    margin-bottom: 1.5em;
    background-image: url(../images/png/cr7.png); }
  .noticias article div:last-child .brazo__caja--modifier {
    background-image: url(../images/png/salah.png); }

.galeria {
  margin-top: 2vw; }
  .galeria div .galeria__box {
    background-color: transparent !important;
    border: none;
    border-radius: 0vw; }
    .galeria div .galeria__box img {
      padding: 10px 0; }
    .galeria div .galeria__box div {
      background-color: rgba(0, 0, 0, 0.548);
      height: 10rem; }
      .galeria div .galeria__box div h5 {
        padding: 1rem; }
  .galeria div .galeria__fotos {
    padding: 10px; }
  .galeria div #photo2 {
    border-left: 0.1em solid #ebebeb !important;
    border-top: 0.1em solid #ebebeb !important;
    border-bottom: 0.1em transparent #ebebeb !important;
    border-right: 0.1em transparent #ebebeb !important;
    border-radius: 0vw; }
  .galeria div #photo3 {
    border-left: 0.1em solid #ebebeb !important;
    border-top: 0.1em solid #ebebeb !important;
    border-bottom: 0.1em solid #ebebeb !important;
    border-right: 0.1em transparent #ebebeb !important;
    border-radius: 0vw; }
  .galeria div #photo4 {
    border-left: 0.1em transparent #ebebeb !important;
    border-top: 0.1em transparent #ebebeb !important;
    border-bottom: 0.1em solid #ebebeb !important;
    border-right: 0.1em transparent #ebebeb !important;
    border-radius: 0vw; }
  .galeria p {
    margin: 1rem 0; }
    .galeria p a {
      font-size: 1rem;
      position: relative;
      color: #00fc54; }
      .galeria p a span {
        color: #ebebeb;
        position: absolute;
        top: 0;
        left: 0; }

.footer {
  border-left: 0.1em transparent #ebebeb !important;
  border-top: 0.1em solid #ebebeb !important;
  border-bottom: 0.1em transparent #ebebeb !important;
  border-right: 0.1em transparent #ebebeb !important;
  border-radius: 0vw;
  margin-top: 5rem; }
  .footer .footer__links {
    margin: 3rem; }
    .footer .footer__links nav a {
      font-size: 1rem;
      position: relative;
      color: #00fc54; }
  .footer .footer__links--modifier {
    margin: 0 3rem;
    margin-bottom: 3rem; }
    .footer .footer__links--modifier nav a {
      font-size: 1rem;
      position: relative;
      color: #00fc54; }

.copy {
  margin-bottom: 2em; }
  .copy div div {
    justify-content: center;
    margin: auto; }
    .copy div div li {
      font-size: 0.6em;
      color: #ebebeb; }
      .copy div div li:hover {
        color: #ebebeb; }
      .copy div div li a {
        color: #ebebeb; }

@media (max-width: 992px) {
  body .header {
    margin-top: -14vw; }
    body .header nav img {
      width: 10%; }
  body .home {
    margin-top: 14vw; } }

@media (max-width: 460px) {
  .galeria {
    margin-top: 2vw; }
    .galeria div .galeria__box {
      background-color: transparent !important;
      border: none;
      border-radius: 0vw; }
      .galeria div .galeria__box img {
        padding: 10px 0; }
      .galeria div .galeria__box div {
        background-color: rgba(0, 0, 0, 0.548);
        height: 10rem; }
        .galeria div .galeria__box div h5 {
          padding: 0.5rem;
          font-size: larger; } }

.clubs div .clubs__box #arsenal, .clubs div .clubs__box #aston, .clubs div .clubs__box #brentford, .clubs div .clubs__box #brighton, .clubs div .clubs__box #burnley, .clubs div .clubs__box #chelsea, .clubs div .clubs__box #crystal, .clubs div .clubs__box #everton, .clubs div .clubs__box #leeds, .clubs div .clubs__box #leicester, .clubs div .clubs__box #liverpool, .clubs div .clubs__box #city, .clubs div .clubs__box #united, .clubs div .clubs__box #newcastle, .clubs div .clubs__box #norich, .clubs div .clubs__box #soton, .clubs div .clubs__box #spurs, .clubs div .clubs__box #watford, .clubs div .clubs__box #wham, .clubs div .clubs__box #wolves {
  transition: all 1s; }
  .clubs div .clubs__box #arsenal div:last-child .card-body, .clubs div .clubs__box #aston div:last-child .card-body, .clubs div .clubs__box #brentford div:last-child .card-body, .clubs div .clubs__box #brighton div:last-child .card-body, .clubs div .clubs__box #burnley div:last-child .card-body, .clubs div .clubs__box #chelsea div:last-child .card-body, .clubs div .clubs__box #crystal div:last-child .card-body, .clubs div .clubs__box #everton div:last-child .card-body, .clubs div .clubs__box #leeds div:last-child .card-body, .clubs div .clubs__box #leicester div:last-child .card-body, .clubs div .clubs__box #liverpool div:last-child .card-body, .clubs div .clubs__box #city div:last-child .card-body, .clubs div .clubs__box #united div:last-child .card-body, .clubs div .clubs__box #newcastle div:last-child .card-body, .clubs div .clubs__box #norich div:last-child .card-body, .clubs div .clubs__box #soton div:last-child .card-body, .clubs div .clubs__box #spurs div:last-child .card-body, .clubs div .clubs__box #watford div:last-child .card-body, .clubs div .clubs__box #wham div:last-child .card-body, .clubs div .clubs__box #wolves div:last-child .card-body {
    background-color: rgba(0, 0, 0, 0);
    transition: all 1s; }
  .clubs div .clubs__box #arsenal:hover, .clubs div .clubs__box #aston:hover, .clubs div .clubs__box #brentford:hover, .clubs div .clubs__box #brighton:hover, .clubs div .clubs__box #burnley:hover, .clubs div .clubs__box #chelsea:hover, .clubs div .clubs__box #crystal:hover, .clubs div .clubs__box #everton:hover, .clubs div .clubs__box #leeds:hover, .clubs div .clubs__box #leicester:hover, .clubs div .clubs__box #liverpool:hover, .clubs div .clubs__box #city:hover, .clubs div .clubs__box #united:hover, .clubs div .clubs__box #newcastle:hover, .clubs div .clubs__box #norich:hover, .clubs div .clubs__box #soton:hover, .clubs div .clubs__box #spurs:hover, .clubs div .clubs__box #watford:hover, .clubs div .clubs__box #wham:hover, .clubs div .clubs__box #wolves:hover {
    background-color: rgba(0, 0, 0, 0);
    transition: all 1s; }
    .clubs div .clubs__box #arsenal:hover div:last-child .card-body, .clubs div .clubs__box #aston:hover div:last-child .card-body, .clubs div .clubs__box #brentford:hover div:last-child .card-body, .clubs div .clubs__box #brighton:hover div:last-child .card-body, .clubs div .clubs__box #burnley:hover div:last-child .card-body, .clubs div .clubs__box #chelsea:hover div:last-child .card-body, .clubs div .clubs__box #crystal:hover div:last-child .card-body, .clubs div .clubs__box #everton:hover div:last-child .card-body, .clubs div .clubs__box #leeds:hover div:last-child .card-body, .clubs div .clubs__box #leicester:hover div:last-child .card-body, .clubs div .clubs__box #liverpool:hover div:last-child .card-body, .clubs div .clubs__box #city:hover div:last-child .card-body, .clubs div .clubs__box #united:hover div:last-child .card-body, .clubs div .clubs__box #newcastle:hover div:last-child .card-body, .clubs div .clubs__box #norich:hover div:last-child .card-body, .clubs div .clubs__box #soton:hover div:last-child .card-body, .clubs div .clubs__box #spurs:hover div:last-child .card-body, .clubs div .clubs__box #watford:hover div:last-child .card-body, .clubs div .clubs__box #wham:hover div:last-child .card-body, .clubs div .clubs__box #wolves:hover div:last-child .card-body {
      color: rgba(0, 0, 0, 0);
      transition: all 1s; }

.clubs__banner {
  border-left: 0.1em transparent #ebebeb !important;
  border-top: 0.1em solid #ebebeb !important;
  border-bottom: 0.1em transparent #ebebeb !important;
  border-right: 0.1em transparent #ebebeb !important;
  padding: 2vw;
  margin-top: 10vw; }
  .clubs__banner h1 {
    margin-left: 3vw; }

.clubs div .clubs__box {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 0em;
  padding: 0em; }
  .clubs div .clubs__box .row div:last-child .card-body {
    padding: 8px;
    margin-top: 1.2em;
    margin-right: 2em;
    border-left: 0.1em solid #ebebeb !important;
    border-top: 0.1em transparent #ebebeb !important;
    border-bottom: 0.1em transparent #ebebeb !important;
    border-right: 0.1em transparent #ebebeb !important;
    border-radius: 0vw; }

.clubs div .clubs__box #arsenal {
  background-color: rgba(255, 0, 0, 0.668); }

.clubs div .clubs__box #aston {
  background-color: rgba(145, 14, 43, 0.775); }

.clubs div .clubs__box #brentford {
  background-color: rgba(242, 69, 69, 0.789); }

.clubs div .clubs__box #brighton {
  background-color: rgba(0, 102, 255, 0.686); }

.clubs div .clubs__box #burnley {
  background-color: rgba(202, 6, 91, 0.727); }

.clubs div .clubs__box #chelsea {
  background-color: rgba(0, 60, 255, 0.693); }

.clubs div .clubs__box #crystal {
  background-color: rgba(105, 135, 237, 0.761); }

.clubs div .clubs__box #everton {
  background-color: rgba(25, 62, 184, 0.761); }

.clubs div .clubs__box #leeds {
  background-color: rgba(138, 138, 138, 0.727); }

.clubs div .clubs__box #leicester {
  background-color: rgba(9, 38, 131, 0.802); }

.clubs div .clubs__box #liverpool {
  background-color: rgba(255, 0, 0, 0.796); }

.clubs div .clubs__box #city {
  background-color: rgba(3, 171, 209, 0.734); }

.clubs div .clubs__box #united {
  background-color: rgba(255, 0, 0, 0.734); }

.clubs div .clubs__box #newcastle {
  background-color: rgba(17, 17, 17, 0.864); }

.clubs div .clubs__box #norich {
  background-color: rgba(39, 167, 71, 0.816); }

.clubs div .clubs__box #soton {
  background-color: rgba(187, 26, 26, 0.796); }

.clubs div .clubs__box #spurs {
  background-color: rgba(162, 162, 162, 0.87); }

.clubs div .clubs__box #watford {
  background-color: rgba(206, 170, 23, 0.781); }

.clubs div .clubs__box #wham {
  background-color: rgba(148, 20, 112, 0.816); }

.clubs div .clubs__box #wolves {
  background-color: rgba(175, 115, 3, 0.734); }

@media (max-width: 992px) {
  .clubs__banner {
    margin-top: 14vw; }
  .clubs .clubs__box {
    width: 100%; } }

@media (min-width: 993px) {
  .clubs .clubs__box {
    width: 40%; } }

.about article h2 {
  color: #00fc54; }

.contact h2 {
  color: #00fc54; }

.contact h5 {
  background-color: #00fc54;
  padding: 0.5em;
  color: #111111;
  font-weight: bold; }

.contact p {
  width: 80%; }

.contact ol {
  margin-left: 2em !important; }

.contact__form {
  margin-top: 3em; }
  .contact__form form {
    border-left: 0.1em solid #ebebeb !important;
    border-top: 0.1em solid #ebebeb !important;
    border-bottom: 0.1em transparent #ebebeb !important;
    border-right: 0.1em transparent #ebebeb !important;
    border-radius: 0vw;
    width: 50%; }
    .contact__form form h2 {
      margin-top: 0.5em; }
    .contact__form form .form-check input {
      background-color: #111111;
      border: 0.1em solid #ebebeb;
      border-radius: 0; }
    .contact__form form button {
      width: 30%;
      background-color: #111111;
      border: none;
      margin-top: 2em;
      border-left: 0.1em transparent #ebebeb !important;
      border-top: 0.1em transparent #ebebeb !important;
      border-bottom: 0.1em solid #ebebeb !important;
      border-right: 0.1em transparent #ebebeb !important;
      border-radius: 0vw; }
      .contact__form form button:hover {
        background-color: #00fc54;
        color: #111111;
        font-weight: bold; }

@media (max-width: 992px) {
  .contact__form form {
    width: 100%; } }

.login .container {
  border-left: 0.1em solid #ebebeb !important;
  border-top: 0.1em solid #ebebeb !important;
  border-bottom: 0.1em transparent #ebebeb !important;
  border-right: 0.1em transparent #ebebeb !important;
  border-radius: 0vw; }
  .login .container .card {
    background-color: #111111;
    border-radius: 0 !important; }
    .login .container .card .card-body .form-outline .form-control {
      border-radius: 0; }
    .login .container .card .card-body .login__botonIngreso {
      color: #ebebeb;
      border-radius: 0;
      margin: 0 1.5em; }
      .login .container .card .card-body .login__botonIngreso:hover {
        background-color: #00fc54;
        color: #111111;
        font-weight: bold; }
    .login .container .card .card-body .form-check input {
      background-color: #111111;
      border: solid 0.1em #ebebeb;
      border-radius: 0;
      margin-right: 0.4em; }
      .login .container .card .card-body .form-check input:hover {
        background-color: #00fc54; }
    .login .container .card .card-body .login__botonGg {
      color: #ebebeb;
      border: 0.1em solid #f84848;
      border-radius: 0;
      margin-bottom: 0.5em; }
      .login .container .card .card-body .login__botonGg:hover {
        background-color: #f84848; }
    .login .container .card .card-body .login__botonFb {
      color: #ebebeb;
      border: 0.1em solid #6565fd;
      border-radius: 0; }
      .login .container .card .card-body .login__botonFb:hover {
        background-color: #6565fd; }
