@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
.noticias article div:first-child .noticias__contenedor, .galeria div .galeria__box {
  border-left: 0.1em transparent #ebebeb !important;
  border-top: 0.1em solid #ebebeb !important;
  border-bottom: 0.1em transparent #ebebeb !important;
  border-right: 0.1em solid #ebebeb !important; }

.noticias article div:last-child .brazo__caja a:hover span:first-child, .noticias article div:last-child .brazo__caja--modifier a:hover span:first-child, .nav-link:hover span:first-child, .home .home__info p a:hover span:first-child, .noticias article div:first-child .noticias__verMas a:hover span:first-child, .galeria p a:hover span:first-child, .footer .footer__links nav a a:hover span:first-child, .footer .footer__links--modifier nav a a:hover span:first-child {
  display: inline;
  cursor: pointer;
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 65%);
  transform: translate(-0.0825em, -0.0015em);
  opacity: 0.8;
  text-decoration: line-through 0.01em; }

.noticias article div:last-child .brazo__caja a:hover span:last-child, .noticias article div:last-child .brazo__caja--modifier a:hover span:last-child, .nav-link:hover span:last-child, .home .home__info p a:hover span:last-child, .noticias article div:first-child .noticias__verMas a:hover span:last-child, .galeria p a:hover span:last-child, .footer .footer__links nav a a:hover span:last-child, .footer .footer__links--modifier nav a a:hover span:last-child {
  display: inline;
  cursor: pointer;
  animation: glitch 375ms infinite;
  clip-path: polygon(0% 70%, 100% 46%, 80% 100%, 50% 100%);
  transform: translate(0.045em, 0.0685em);
  opacity: 0.8; }

.noticias article div:last-child .brazo__caja a:hover, .noticias article div:last-child .brazo__caja--modifier a:hover, .nav-item .nav-linkhover, body .header nav .header__menu li ul li a:hover, .home .home__info p a:hover, .noticias article div:first-child .noticias__verMas a:hover, .galeria p a:hover, .footer .footer__links nav a:hover, .footer .footer__links--modifier nav a:hover {
  color: #ebebeb !important;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite; }

.noticias article div:last-child .brazo__caja, .noticias article div:last-child .brazo__caja--modifier {
  border: 0.1em transparent #ebebeb !important;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  border-top: 0.1em solid #ebebeb !important; }
  .noticias article div:last-child .brazo__caja p, .noticias article div:last-child .brazo__caja--modifier p {
    margin-bottom: 0.5vw; }
  .noticias article div:last-child .brazo__caja h5, .noticias article div:last-child .brazo__caja--modifier h5 {
    margin-top: 10em; }
  .noticias article div:last-child .brazo__caja a, .noticias article div:last-child .brazo__caja--modifier a {
    font-size: 1rem;
    position: relative;
    color: #00fc54;
    text-decoration: none; }
    .noticias article div:last-child .brazo__caja a span, .noticias article div:last-child .brazo__caja--modifier a span {
      color: #ebebeb;
      position: absolute;
      top: 0.0300em;
      left: -0.0400em; }

.spanOculto {
  display: none; }

.nav-item {
  font-size: 1rem;
  position: relative; }
  .nav-item .nav-link {
    color: #ebebeb;
    text-transform: uppercase; }
    .nav-item .nav-link:active {
      color: none !important; }
    .nav-item .nav-link:visited {
      color: none !important; }
  .nav-item span {
    color: #ebebeb;
    position: absolute;
    top: 0.5100em;
    left: 0.4900em; }

@keyframes glitch {
  0% {
    text-shadow: 0.07em 0 0 rgba(255, 0, 0, 0.75), -0.07em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.09em 0 rgba(0, 0, 255, 0.75); }
  14% {
    text-shadow: 0.07em 0 0 rgba(255, 0, 0, 0.75), -0.07em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.09em 0 rgba(0, 0, 255, 0.75); }
  15% {
    text-shadow: -0.07em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.07em -0.09em 0 rgba(0, 0, 255, 0.75); }
  49% {
    text-shadow: -0.07em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.07em -0.09em 0 rgba(0, 0, 255, 0.75); }
  50% {
    text-shadow: 0.025em 0.07em 0 rgba(255, 0, 0, 0.75), 0.2em 0 0 rgba(0, 255, 0, 0.75), 0 -0.09em 0 rgba(0, 0, 255, 0.75); }
  99% {
    text-shadow: 0.025em 0.07em 0 rgba(255, 0, 0, 0.75), 0.02em 0 0 rgba(0, 255, 0, 0.75), 0 -0.09em 0 rgba(0, 0, 255, 0.75); }
  100% {
    text-shadow: -0.095em 0 0 rgba(255, 0, 0, 0.75), -0.095em -0.065em 0 rgba(0, 255, 0, 0.75), -0.096em -0.09em 0 rgba(0, 0, 255, 0.75); } }

body {
  background-color: #111111;
  font-family: 'Zen Kaku Gothic Antique', sans-serif; }
  body .header {
    position: fixed;
    z-index: 2;
    margin-top: -10vw;
    background-color: #111111;
    width: 100% !important;
    max-width: none; }
    body .header nav img {
      width: 15%; }
    body .header nav .header__menu li {
      margin: 0 1.1vw; }
      body .header nav .header__menu li ul {
        background-color: #111111;
        border: none; }
        body .header nav .header__menu li ul li a {
          color: #ebebeb !important; }
          body .header nav .header__menu li ul li a:hover {
            background-color: #111111; }
    body .header nav .header__boton:active {
      border: 2px solid #00fc54; }

@media (max-width: 992px) {
  body .header {
    margin-top: -13vw; }
    body .header nav img {
      width: 10%; }
  body .home {
    margin-top: 14vw; } }

.home {
  border-left: 0.1em solid #ebebeb !important;
  border-top: 0.1em solid #ebebeb !important;
  border-bottom: 0.1em transparent #ebebeb !important;
  border-right: 0.1em transparent #ebebeb !important;
  padding: 2vw;
  margin-top: 10vw; }
  .home .carousel .carousel-indicators {
    z-index: 1 !important; }
  .home .carousel .home__carousel div div:first-child .carousel-indicators {
    z-index: 0 !important; }
  .home .carousel .home__carousel div div:last-child {
    background-color: rgba(0, 0, 0, 0.542); }
  .home .carousel .home__carousel .carousel-control-prev {
    z-index: 0; }
  .home .home__info h1 {
    margin: 0;
    margin-top: 1vw;
    margin-left: 0.5vw; }
  .home .home__info p {
    margin: 0;
    margin-top: 0.5vw; }
    .home .home__info p a {
      font-size: 1rem;
      position: relative;
      color: #00fc54; }
      .home .home__info p a span {
        color: #ebebeb;
        position: absolute;
        top: 0.0800em;
        left: 0.0800em; }

.noticias {
  margin-top: 2vw; }
  .noticias article div:first-child .noticias__contenedor {
    max-width: 800px !important;
    background-color: transparent !important;
    border-radius: 0vw; }
    .noticias article div:first-child .noticias__contenedor .noticias__imagen {
      margin: 0.5vw 0; }
    .noticias article div:first-child .noticias__contenedor .noticias__info {
      cursor: pointer;
      transition: a 1.5s;
      margin: 0vw;
      color: #ebebeb;
      display: flex;
      align-items: center; }
      .noticias article div:first-child .noticias__contenedor .noticias__info p a {
        color: #ebebeb;
        transition: 1s; }
      .noticias article div:first-child .noticias__contenedor .noticias__info:hover a {
        color: #00fc54; }
      .noticias article div:first-child .noticias__contenedor .noticias__info div {
        padding: 1vw; }
        .noticias article div:first-child .noticias__contenedor .noticias__info div h5 {
          margin: 1vw 0;
          font-size: 0.5em;
          margin-left: 1vw;
          font-style: italic; }
  .noticias article div:first-child .noticias__verMas {
    margin-right: 2vw; }
    .noticias article div:first-child .noticias__verMas a {
      font-size: 1rem;
      position: relative;
      color: #00fc54; }
      .noticias article div:first-child .noticias__verMas a span {
        color: #ebebeb;
        position: absolute;
        top: 0.0300em;
        left: -0.0400em; }
  .noticias article div:last-child .brazo__caja {
    background-image: url(../images/png/cr7.png); }
  .noticias article div:last-child .brazo__caja--modifier {
    background-image: url(../images/png/salah.png); }

.galeria {
  margin-top: 2vw; }
  .galeria div .galeria__box {
    background-color: transparent !important;
    border: none;
    border-radius: 0vw; }
    .galeria div .galeria__box img {
      padding: 10px 0; }
    .galeria div .galeria__box div {
      background-color: rgba(0, 0, 0, 0.548);
      height: 10rem; }
      .galeria div .galeria__box div h5 {
        padding: 1rem; }
  .galeria div .galeria__fotos {
    padding: 10px; }
  .galeria div #photo2 {
    border-left: 0.1em solid #ebebeb !important;
    border-top: 0.1em solid #ebebeb !important;
    border-bottom: 0.1em transparent #ebebeb !important;
    border-right: 0.1em transparent #ebebeb !important;
    border-radius: 0vw; }
  .galeria div #photo3 {
    border-left: 0.1em solid #ebebeb !important;
    border-top: 0.1em solid #ebebeb !important;
    border-bottom: 0.1em solid #ebebeb !important;
    border-right: 0.1em transparent #ebebeb !important;
    border-radius: 0vw; }
  .galeria div #photo4 {
    border-left: 0.1em transparent #ebebeb !important;
    border-top: 0.1em transparent #ebebeb !important;
    border-bottom: 0.1em solid #ebebeb !important;
    border-right: 0.1em transparent #ebebeb !important;
    border-radius: 0vw; }
  .galeria p {
    margin: 1rem 0; }
    .galeria p a {
      font-size: 1rem;
      position: relative;
      color: #00fc54; }
      .galeria p a span {
        color: #ebebeb;
        position: absolute;
        top: 0;
        left: 0; }

.footer {
  border-left: 0.1em transparent #ebebeb !important;
  border-top: 0.1em solid #ebebeb !important;
  border-bottom: 0.1em transparent #ebebeb !important;
  border-right: 0.1em transparent #ebebeb !important;
  border-radius: 0vw;
  margin-top: 5rem; }
  .footer .footer__links {
    margin: 3rem; }
    .footer .footer__links nav a {
      font-size: 1rem;
      position: relative;
      color: #00fc54; }
  .footer .footer__links--modifier {
    margin: 0 3rem;
    margin-bottom: 3rem; }
    .footer .footer__links--modifier nav a {
      font-size: 1rem;
      position: relative;
      color: #00fc54; }

.copy div div {
  justify-content: center;
  margin: auto; }
  .copy div div li {
    font-size: 0.6em;
    color: #ebebeb; }
    .copy div div li:hover {
      color: #ebebeb; }
    .copy div div li a {
      color: #ebebeb; }
