//Extends
%clubs__animacion{
    transition: all 1s;
    div:last-child{
        .card-body{
            background-color: rgba(0, 0, 0, 0);
            transition: all 1s;
        }
    }
    &:hover{
        background-color: rgba(0, 0, 0, 0);
        div:last-child{
            .card-body{
                color: rgba(0, 0, 0, 0);
                transition: all 1s;
            }
        }
        transition: all 1s;
    }
}

.clubs__banner{
    @include galeryPhotoBorder(transparent, solid, transparent, transparent);
    padding: 2vw;
    margin-top: 10vw;
    h1{
        margin-left: 3vw;
    }
}

.clubs{
    div{
        .clubs__box{
            a{
                color: $color1;
                text-decoration: none;
                &:active{
                    color: $color1;
                }
            }
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: none;
            border-radius: 0em;
            padding: 0em;
            .row{
                div:last-child{
                    .card-body{
                        padding: 8px;
                        margin-top: 1.2em;
                        margin-right: 2em;
                        @include galeryPhotoBorder(solid, transparent, transparent, transparent);
                    }
                }
            }
        }
        .clubs__box #arsenal{
            background-color: map-get($colors , "arsenal");
            @extend %clubs__animacion;
        }
        .clubs__box #aston{
            background-color: map-get($colors , "aston");
            @extend %clubs__animacion;
        }
        .clubs__box #brentford{
            background-color: map-get($colors , "brentford");
            @extend %clubs__animacion;
        }
        .clubs__box #brighton{
            background-color: map-get($colors , "brighton");
            @extend %clubs__animacion;
        }
        .clubs__box #burnley{
            background-color: map-get($colors , "burnley");
            @extend %clubs__animacion;
        }
        .clubs__box #chelsea{
            background-color: map-get($colors , "chelsea");
            @extend %clubs__animacion;
        }
        .clubs__box #crystal{
            background-color: map-get($colors , "crystal");
            @extend %clubs__animacion;
        }
        .clubs__box #everton{
            background-color: map-get($colors , "everton");
            @extend %clubs__animacion;
        }
        .clubs__box #leeds{
            background-color: map-get($colors , "leeds");
            @extend %clubs__animacion;
        }
        .clubs__box #leicester{
            background-color: map-get($colors , "leicester");
            @extend %clubs__animacion;
        }
        .clubs__box #liverpool{
            background-color: map-get($colors , "liverpool");
            @extend %clubs__animacion;
        }
        .clubs__box #city{
            background-color: map-get($colors , "city");
            @extend %clubs__animacion;
        }
        .clubs__box #united{
            background-color: map-get($colors , "united");
            @extend %clubs__animacion;
        }
        .clubs__box #newcastle{
            background-color: map-get($colors , "newcastle");
            @extend %clubs__animacion;
        }
        .clubs__box #norich{
            background-color: map-get($colors , "norwich");
            @extend %clubs__animacion;
        }
        .clubs__box #soton{
            background-color: map-get($colors , "southampton");
            @extend %clubs__animacion;
        }
        .clubs__box #spurs{
            background-color: map-get($colors , "spurs");
            @extend %clubs__animacion;
        }
        .clubs__box #watford{
            background-color: map-get($colors , "watford");
            @extend %clubs__animacion;
        }
        .clubs__box #wham{
            background-color: map-get($colors , "westham");
            @extend %clubs__animacion;
        }
        .clubs__box #wolves{
            background-color: map-get($colors , "wolves");
            @extend %clubs__animacion;
        }
    }
}

@media (max-width: 992px) {
    .clubs__banner{
        margin-top: 14vw;
    }
    .clubs{
        .clubs__box{
            width: 100%;
        }
    }
}
@media (min-width: 993px) {
    .clubs{
        .clubs__box{
            width: 40%;
        }
    }
}