.contact{
    h2{
        color: map-get($colors, "secundary");
    }
    h5{
        background-color: map-get($colors, "secundary");
        padding: 0.5em;
        color: map-get($colors, "bg-color-third");
        font-weight: bold;
    }
    p{
        width: 80%;
    }
    ol{
        margin-left: 2em !important;
    }
}
.contact__form{
    margin-top: 3em;
    form{
        @include galeryPhotoBorder( solid, solid, transparent, transparent);
        width: 50%;
        h2{
            margin-top: 0.5em;
        }
        .form-check{
            input{
                background-color: map-get($colors, "bg-color-third");
                border: 0.1em solid $color1;
                border-radius: 0;
            }
        }
        button{
            width: 30%;
            background-color: map-get($colors, "bg-color-third");
            border: none;
            margin-top: 2em;
            @include galeryPhotoBorder( transparent, transparent, solid, transparent);
            &:hover{
                background-color: map-get($colors, "secundary");
                color: map-get($colors, "bg-color-third");
                font-weight: bold;
            }
        }
    }
}
@media (max-width: 992px) {
    .contact__form{
        form{
            width: 100%;
        }
    }
}